* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Concert One', sans-serif;
}

.full-screen {
    height: 100vh;
    background-color: orange;
}

.video-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-layer video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    
}

.video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    color: white;
}

.strange-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: repeating-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) 4px, transparent 4px, transparent 6px);
}

.strange-overlay-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: repeating-linear-gradient(90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 4px, transparent 4px, transparent 6px);
}